html {
    font-size: 125%;
}

body {
    background-color: $brown;
    font-family: $primaryFont;
    line-height: 32px;
    letter-spacing: 2px;
}

header i {
    color: $white;
}


img {
    width: 100%;
    max-width: 100%;
}


nav {
    line-height: 29px;
    letter-spacing: 1px;

    .logo {
        font-size: 2rem;
        margin: 20px;
    }

    a {
        color: $yellow;
        text-decoration: none;
        font-family: $primaryFont;

        &:hover {
            color: lighten($yellow, 20);
        }
    }
}

ul li {
    list-style: none;

    a {
        color: $white;
        font-family: $secondaryFont;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            color: $yellow;
        }
    }
}

main a {
    display: inline;
    @include position (relative, 10%, null, null, null);
    padding: 10px;
    background-color: $green;
    color: $white;
    text-decoration: none;
    font-size: 1.5rem;
}

h1 {
    color:$yellow;
    font-size: 5.75rem;
}

h2 {
    margin: 200px 20px;
    color: $yellow;
    line-height: 69.6px;
    letter-spacing: 10.9px;
    font-size: 5.25rem;
}

h3 {
    color: $yellow;
    line-height: 58px;
    letter-spacing: 4.9px;
    font-size: 2.25rem;
}

h4 {
    color: $yellow;
    line-height: 58px;
    letter-spacing: 4.3px;
    font-size: 2rem;
}

h5 {
    color: $white;
    font-size: 1rem;
    font-style: italic;
    font-family: $secondaryFont;

    span {
        font-weight: 900;
    }
}

h6 {
    margin: 40px 0 20px;
    color: $white;
    font-size: 1.3rem;
}

p {
    color: $white;
    font-family: $secondaryFont;
}

form {
    margin-bottom: 50px;
    padding: 40px;
    font-family: $secondaryFont;

    [type="text"],
    [type="email"] {
        margin: 10px;
        width: calc(50% - 30px);
        border: none;
        border-bottom: 1px solid $yellow;
    }

    input,
    textarea {
        margin-bottom: 40px;
        padding: 20px;
    }

    textarea {
        resize: none;
        width: 100%;
        border: 1px solid $yellow;
    }

    button {
        height: 50px;
        width: 100%;
        border: none;
        background-color: $green;
        color: $white;
        font-family: $primaryFont;
        font-size: 1.5rem;
    }

    [type="text"],
    [type="email"],
    textarea {
        background: none;

        &::placeholder {
            color: $white;
            font-weight: light;
            line-height: 32px;
            letter-spacing: 2px;
        }
    }
}

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    margin: -1px;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

fieldset {
    border: none;
    padding: none;
}

aside ul li {
    color: $white;
}

footer a i {
    color: $yellow;
}