body.contact {
    header {
        background-image: url(./../assets/contactImage1.jpg);
    }

    main {
        display: flex;
    }

    form {
        @include position (absolute, 60%, null, null, 10%);
        width:55%;
        background-color: $black;
        box-shadow: 20px 20px $yellow;

        input {
            margin-bottom: 50px;
        }
    }

    footer {
        float: right;
        margin: 100px 100px;
    }

    .copyrightBar {
        margin-top: 60vh;
        width: 100vw;
    }   

    @media (max-width: 1180px) {
        form {
            @include position (absolute, 65%, null, null, 5%);
            width: 60%;
        }

        footer {
            @include position (absolute, null, -7%, null, null);
        }
    }


    @media (max-width: 960px) {
        h2 {
            margin-top: 250px;
            text-align: center;
            font-size: 3.5rem;
        }

        form {
            @include position (absolute, 60%, 0,0,0);
            width: 80%;
            height: 600px;
            margin: 20px auto;
        }

        footer {
            position: initial;
            margin: 65vh 0 50px;
            width: 100%;
            text-align: center;

            p {
                margin: 5px;
            }
        }

        .copyrightBar {
            // margin: 0;
        }
    }

    @media (max-width: 660px) {
        form {
            padding-top: 0;
            height: 650px;
            box-shadow: 10px 10px $yellow;
             
            fieldset {
                display: flex;
                flex-direction: column;

                input {
                    width: 100%;
                
                    &::placeholder {
                        font-size: .9em;
                    }
                }
            }
        }

        footer {
            position: initial;
            margin: 75vh 0 50px;
        }
    }
}
