// styles specific to the index page

body.index {
// start of header styles
    header {
        background-image: url(./../assets/homeImage1.jpg);

        img {
            @include position (absolute, null, null, 15%, null);
            width: 600px;
        }

        h1 {
            @include position (absolute, 50px, 0px, null, null);
            width: 50%;
        }
    }
// end of header styles
// start of main styles
// start of intro section styles
    .intro {
        display: flex;
        height: 60vh;
        width: 100%;

        .wrapper {
            display: flex;
        }

        .article {
            margin: 20px;
            padding: 0px 20px;
            width: calc(75% - 20px);    
        }

        .imageContainer {
             display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            width: calc(25% - 20px);

            img {
                box-shadow: -20px 20px $green;
            }
        }
    }
// end of intro section styles
// start of gallery section styles
    .gallery {
        height: auto;
        background: $black;
        padding: 20px 0;

        ul {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            li {
                width: calc(33.33%);
                margin: 20px;
            }
        }
    }
// end of gallery styles
// start of about section styles
    .about {
        padding-top: 50px;

        .wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            .article {
                width: calc(50% - 40px);
                max-height: 300px;
            }
        
            .headerContainer {
                display: flex;
                align-items: center;
                height: 20%;
            }

            .iconContainer {
                margin-right: 20px;
            }
        }
    }

    main .iconContainer {
        height: 50px;
        width: 50px;
        background: $green;
        border-radius: 50%;

        i {
            display: flex;
            justify-content: center;
            line-height: 50px;
            color: $white;
        }
    }
// end of about section styles
// start of aboutMore section styles
    .aboutMore {
        background: $black;
        padding: 50px 0;
        text-align: left;
    }

    .aboutMoreContainer {
        display: flex;
        

        &:first-child .imageContainer {
            @include position (relative, null, 90px, 90px, null);
        }

        &:last-child .imageContainer {
            @include position (relative, 90px, null, null, 0);
            order: 1;
        }

        .imageContainer {
            width: calc(50% - 40px);
            margin: 20px;
        }

        .articleContainer {
            width: calc(50% - 40px);
            margin: 20px;
        }

        img {
            box-shadow: 20px 20px $yellow;
        }

        &:last-child .articleContainer {
            h3{
                text-align: right;
            }

            a {
                right: -70%;
            }
        }
    }
// end of aboutMore section styles
// start of freeTrials section styles
    div.bannerImage {
            background-image: url(./../assets/bannerImage.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 400px;
        }

    .freeTrials {
        padding: 50px;
        text-align: center;

        a {
            bottom: -20px;
        }
    }
// end of freeTrials section styles
// end of main styles
// start of first media
@media (max-width: 1180px) {
// start of header styles
    header {
        background-position: right;

        h1 {
            @include position (absolute, 0px, 400px, null, null);
            width: 30%;
        }

        img {
             @include position (absolute, 30%, null, null, null);
            width: 500px;
        }
    }
// end of header styles
// start of aboutMore section styles
    .aboutMore .aboutMoreContainer {
     
            .imageContainer {
                position: intial;
            }
        }
    }
// end of first media
// start of second media
    @media (max-width: 970px) {
// start of header styles
        header {
            h1 {
                position: initial;
                margin: 20% auto;
                width: auto;
                text-align: center;
                font-size: 5rem;

                span {
                    margin-left: 10%;
                    text-align: left;
                }
            }

            img {
                display: none;
            }
        }
// end of header styles
// start of intro section styles
        .intro {
            height: 140vh; 

            .wrapper {
                display: flex;
                flex-direction: column;
            
                .imageContainer {
                    order: -1;
                    margin: 40px auto;
                    width: 60%;
                }

                .article {
                    margin: 0 auto;
                    padding: 0;
                    text-align: center;
                }
            }
        }
// end of intro section styles
// start of gallery styles
        .gallery ul {
            padding: 0 20px;

            li {
                width: calc(50% - 10px);

                &:last-of-type {
                    display: none;
                }
            }
        }
// end of gallery styles
// start of about section styles
        .about .wrapper .article {
            width: 100%;
            height: 200px;
            margin: 40px;
        }
// end of about section styles
// start of aboutMore section styles
        .aboutMore {
            background: $black;
            padding: 50px 0;
        }

        .aboutMoreContainer {
            flex-direction: column;
            margin-bottom: 60px;

            &:first-child .imageContainer {
                position: initial;
            }

            &:last-child .imageContainer {
                position: initial;
                order: -1;
            }

            .imageContainer {
                width: 80%;
                margin: 0 auto;
            }

            .articleContainer {
                width: 80%;
                margin: 20px auto;
                text-align: center;
            }

            &:last-child .articleContainer {
                h3{
                    text-align: center;
                }

                a {
                    right: 0;
                }
            }
        }
// end of aboutMore section styles
    }
// end of second media
// start of third media
    @media (max-width: 540px) {
// start of header styles
        h1 {
            visibility: hidden;
        }
// end of header styles
// start of intro section styles
        .intro .wrapper .article{
            width: 100%;
        }
// end of intro section styles
// start of gallery styles
        .gallery ul li {
            margin: 5px;
        }
// end of gallery styles
// start of about section styles
        .about {
            height: 200vh; 
        
            .wrapper .article {
                margin: 20px auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
// end of about section styles
// start of aboutMore section styles
        .aboutMore .imageContainer {
            width: 90%;
        }
// end of aboutMore section styles
// start of freeTrials section styles
        div.bannerImage {
            background-position: 75% 0%;
        }

        .freeTrials {
            height: 90vh;
        }
// end of freeTrials section styles
    }
// end of third media
}