.index {
    header {
        background-image: url(./../assets/home-image-1.jpg);

        img {
            position: absolute;
            top: 20vh;
            width: 40%;
        }

        h1 {
            float: right;
            width: 50%;
        }
    }
        
    .intro {
        display: flex;
        height: 60vh;

        .article {
            margin-right: 20px;
            width: calc(75% - 40px);
        }

        .imageContainer {
            margin-left: 20px;
            width: calc(25% - 40px);

            img {
                box-shadow: -20px 20px $green;
            }
        }
    }

    .intro {
        width: 100%;

        .wrapper {
            display: flex;

            .article {
                width: calc(75% - 20px);
                margin: 20px;
            }

            .imageContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: calc(25% - 20px);
            }
        }       
    }

    main .iconContainer {
        height: 50px;
        width: 50px;
        background: $green;
        border-radius: 50%;

        i {
            display: flex;
            justify-content: center;
            line-height: 50px;
            color: $white;
        }
    }

    .gallery {
        height: auto;
        background: $black;
        padding: 20px 0;

        ul {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            li {
                width: calc(33.33%);
                margin: 20px;
            }
        }
    }

    .about {
        padding-top: 50px;

        .wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

            .article {
                width: calc(50% - 40px);
                max-height: 300px;
            }
        
            .headerContainer {
                display: flex;
                align-items: center;
                height: 20%;
            }

            .iconContainer {
                margin-right: 20px;
            }
        }
    }   

    .aboutMore {
        background: $black;
        padding: 50px 0;

        .aboutMoreContainer {
            display: flex;

                &:last-of-type .imageContainer {
                    order: 1;
                }

            .imageContainer {
                width: calc(50% - 40px);
                margin: 20px;
            }

            .articleContainer {
                width: calc(50% - 40px);
                margin: 20px;
            }
        }
    }

    .freeTrials {
        padding: 50px;
    }
}