.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100vw;

    span {
        display: block;
        margin: 40px 0;
        color: $white;
        font-family: $secondaryFont;
        font-size: 2rem;
    }

    i {
        @include position (absolute, 20px, 20px, null, null);
        visibility: hidden;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0 50px;

    ul {
        display: flex;
        
        li {
            margin: 0 20px;
        }
    }
}

.copyrightBar {
    background: $black;

    p {
        padding: 10px;
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 970px) {
body.intro,
body.blog,
body.contact {
    nav ul {
        display: none;
    }
}

 header i {
        visibility: visible;
    }
}