// // Colour scheme
$white: rgb(250, 255, 254);
$black: rgb(38, 39, 37);
$yellow: rgb(255, 198, 0);
$green: rgb(85, 95, 2);
$brown: rgb(30, 20, 14);

// // Fonts
$primaryFont: 'Dokdo', cursive;
$secondaryFont: 'Lato', sans serif;

    /* Positioning */

    /* Display & Box Model */

    /* Color */

    /* Text */

    /* Other */
